.iconfont {
    font-family:"iconfont" !important;
    font-size:22px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';  /* project id 401517 */
  src: url('https://at.alicdn.com/t/font_401517_xmci8weondji3sor.eot');
  src: url('https://at.alicdn.com/t/font_401517_xmci8weondji3sor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_401517_xmci8weondji3sor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_401517_xmci8weondji3sor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_401517_xmci8weondji3sor.svg#iconfont') format('svg');
}
header{
  width: 100%;
  height: .45rem;
  background-color: #FFCA13;
  position: fixed;
  top: 0;
  z-index: 99;
} 

a{
  width: .35rem;
  height: .35rem;
  background-color: #FFFFFF;
  float: left;
  margin-top: .05rem;
}
.top3{
  float: right;
  margin-right: .1rem;
  border-radius: 50%;
  font-size: .2rem;
  color: #FFD235;
  text-align: center;
  line-height: .35rem;
}
.top1{
  margin-left: .1rem;
  border-radius: 50%;
  font-size: .2rem;
  color: #FFD235;
  text-align: center;
  line-height: .35rem;
}
.gouwuche{
  width: 2.55rem;
  height: .35rem;
/*   background-color:#F4F4F4 ; */
 /*  border: 1px solid #E9E9E9;
  border-radius: 5px;  */
  float: left;
  margin-left: .15rem;  
  margin-top: .05rem;
  font-size: .20rem;
  color: #5E5E5E;
  text-align: center;
  line-height: .35rem;
}
main{
  position: relative;
  top: .45rem;
  bottom: .6rem;
  left: 0;
  right: 0;
  margin: auto;
  /* z-index:1; */
}
.kong{
  width: 1.27rem;
  height: 1.27rem;
  background-color: #DDD5D7;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 1.85rem;
  font-size: .6rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 1.27rem;
}
.zi1{
  font-size: .14rem;
  color: #787878;
  text-align: center;
  margin-top: .13rem;
}
.zi2{
  width: 1rem;
  height: .34rem;
  background-color: #FF5777;
  border-radius: .05rem;
  margin: 0 auto;
  margin-top: .13rem;
  font-size: .14rem;
  color: #FFFFFF;
  text-align: center;
  line-height: .34rem;
}
footer{
	width: 100%;
	height: .49rem;
	background-color: #d0d0d0;
	position: fixed;
	bottom: 0rem;
}
/* .dibu2 h1{
	font-size: .1rem;
	text-align: center;
} */
.dibu{
	width: 25%;
	height: 100%;
	/* background-color: yellow; */
	overflow: hidden;
	margin: auto;
	float: left;
}
.dibu1{
	width: .19rem;
	height: .19rem;
	/* background-color: red; */
	margin: .064rem  .3737rem   .04rem  .3737rem ;  
}
.dibu2{
	width: 100%;
	height: .12rem;
	/* background-color: red; */
}
.renru0{
	font-size: .1rem;
	display: block;
}
.renru2-2 a{
	font-size: .1rem;
	display: block;
	text-align: center;
}

.dibu2 h1{
	font-size: .1rem;
	text-align: center;
}
.dibu1 i{
	display: block;
}
.iconfont2 {
    font-family:"iconfont" !important;
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.dibu a{
  width: 100%;
  height: .12rem;
	font-size: .1rem;
	text-align: center;
  background-color: #d0d0d0;
}
.dibu2 h3{
	font-size: .1rem;
	text-align: center;
}
.dibu2 h4{
	font-size: .1rem;
	text-align: center;
}